---
import ServicesHero from "../../components/services/ServicesHero";
import ServicesList from "../../components/services/ServicesList";
import ServicesPricing from "../../components/services/ServicesPricing";
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <main class="min-h-screen">
        <ServicesHero client:load/>
        <ServicesList client:load/>
        <ServicesPricing client:load/>
      </main>
</Layout>