---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero'
import About from '../components/about/About'
import Contact from '../components/contact/Contact'
import Gallery from '../components/gallery/Gallery'
import Services from '../components/services/Services'
import {ScrollToTop} from '../components/ScrollToTop'
---

<Layout>
	<div class="min-h-screen">
		<Hero client:load/>
		<About client:load/>
		<Services client:load/>
		<Gallery client:load/>
		<Contact client:load/>
		<ScrollToTop client:load/>
	</div>
</Layout>
